@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,300&display=swap");
.imgBack {
  background-color: black;
  height: 500px;
  width: 1000px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.quotetxt {
  color: white;
  font-size: 50px;
  font-family: Lato;
  width: 1000px;
  text-align: center;
}
